/* General Container Styling */
.manage-users-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.manage-users-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.manage-users-filter {
    padding: 8px 12px ;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.manage-users-filter:hover {
    background-color: #e2e6ea;
    border-color: #adb5bd;
}

.manage-users-add-btn {
    display: flex;
    align-items: center;
    background:  #2980b9;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.manage-users-add-btn svg {
    margin-right: 5px;
}

.manage-users-search-bar {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.manage-users-staff-list ul {
    list-style: none;
    padding: 0;
}

.manage-users-staff-list li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.manage-users-staff-list li:hover {
    background: #f0f0f0;
}

.manage-users-staff-details {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manage-users-form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manage-users-form label {
    margin-top: 10px;
}

.manage-users-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.manage-users-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.manage-users-submit-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.manage-users-cancel-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.manage-users-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.manage-users-table th, .manage-users-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.manage-users-table th {
    background:  #2980b9;
    color: white;
}

.manage-users-delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}